.firstContainer {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
  
}

.topContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  height: 50px;
  background-color: #272727;
}

.coloredDiv {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  animation: fadeIn 1s forwards;
  margin: 0 10px;
}

.coloredDivRight {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  opacity: 0;
  animation: fadeIn 1s forwards;
  margin: 0 10px;
}

.coloredDiv:nth-child(1) {
  animation-delay: 0s;
}

.coloredDiv:nth-child(2) {
  animation-delay: 0.5s;
}

.coloredDivRight:nth-child(3) {
  animation-delay: 1s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.botContainer {
  display: flex;
  flex: 1;
}

.filterContainer {
  width: 20%;
  background-color: #212121;
}

.contentContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.cardContainer {
  flex: 1;
}

.cardRow {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  background: #2b2d31;
  height: 60px;
}

.pagination button {
  display: flex;
  justify-content: center; /* Centra el contenido horizontalmente */
  align-items: center; /* Centra el contenido verticalmente */
  border: none;
  background: #2b2d31;
  color: white;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 0px;
  font-size: 15px;
}

.pagination button:hover {
  background-color: rgb(228, 175, 28);
  transition: background-color 0.2s;
  width: 50px;
  height: 50px;
  font-size: 15px;
  color: black;
  font-weight: bold ;
  border: 0px;
}

.pagination button.active {
  background-color: rgb(228, 175, 28);
  color: white;
  width: 50px;
  height: 50px;
  font-size: 20px;
  font-weight: bold;
  
}

.pagination button.disabled {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
}