.card {
  background-color: #2c2b2ad7;
  width: 290px;
  height: 350px;
  margin: 7px;
  margin-top: 40px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
}



.profileImg {
  margin-top: 15px;
  width: 250px;
  height: 150px;
  position: relative;
  overflow: hidden;
  object-fit: cover;
  border: 2px solid #2c2b2ad7;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

.textContainer {
  padding: 5px;
  text-align: center;
  text-decoration: none;
}

.textName {
  font-size: auto;
  font-weight: bold;
  color: #000000;
  margin-bottom: 5px;
  background-color: #fec104;
  border-radius: 5px;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

.textStatus {
  color: #bebaba;
  font-size: 17px;
  margin-bottom: 10px;
  font-weight: bold;
}

.expandedImage {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.expandedImage img {
  max-width: 90%;
  max-height: 90%;
  border: 2px solid #ffffff;
  border-radius: 15px;
}
